<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
</head>
<body>
<%  if logged_in? %>
<%= current_user.email if logged_in? %>
<%= button_to "Logout", session_url, method: :delete %>
<% end %>
<br>

<hr>
<%= yield %>

</body>
</html>
